https://bitbucket.org/hpk42/detox/get/0.9.4.zip#eggs=detox
https://bitbucket.org/logilab/astroid/get/tip.zip#eggs=astroid
https://github.com/eventlet/eventlet/archive/master.zip#eggs=eventlet
six
tox
nose
wheel
sphinx
pylint
pylint
flake8
vulture
selenium
mypy-lang
zope.interface
lazr.delegates
