six
tox
nose
detox
wheel
sphinx
pylint
flake8
vulture
selenium
mypy-lang
zope.interface
lazr.delegates
https://bitbucket.org/logilab/astroid/get/tip.zip#eggs=astroid
https://github.com/eventlet/eventlet/archive/master.zip#eggs=eventlet
